.form-control {
  width: 250px;
  margin-bottom: 20px;
  display: flex;
  justify-content:center;
}

.flex-direction-column {
   flex-direction: column;
}

.flex-direction-row {
   flex-direction: row;
}
