.select-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.select-description {
  margin-bottom: 12px;
  text-align: center;
}

select {
  width: 250px;
}
